<%= form_for ([@request, @request.comments.build]) do |f|%>
  <p>
    
    <%=f.text_area :content, class:"textarea" %>
  </p>
  <div class="column is-1 is-offset-11">
    <%= f.submit "Publicar", class: "button" %>
  </div>
<% end %>